/* -----------------PRIMARY - FOR SMARTPHONE -------------------*/

.foter{
    box-sizing: border-box;

    padding: 60px 0px;
}

.foter-overlay{
    background-color: $mainBgColor;
}

.foter__list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;

    letter-spacing: 0.03em;

    color: $fourthColor;

    text-align: center;

    & .foter__item{

        & .foter__head{
            font-weight: 700;
            font-size: 14px;
            line-height: 1.143px;
            letter-spacing: 0.03em;

            color: $fourthColor;

            padding-top: 60px;
        }

        & .foter__list--collocation-social{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            & .foter__item--collocation-social{
                padding-top: 20px;
            }
        }
    }
}

.foter__list--collocation{      // address
    padding-top: 20px;

    & .foter__item--collocation{
        margin-bottom: 8px;
    }
}

/* --------------------- FOR TABLET -----------------------*/

@media screen and (min-width: 768px){

    .foter__list{
        display: flex;
        flex-wrap: wrap;

        & .foter__item{
            flex-basis: calc(50%);

            & .foter__head{
                padding: 0px;
            }
        }

        & .foter__list--collocation-social{

            & .foter__item--collocation-social{
                flex-basis: content;
            }
        }
    }

    .foter__list--collocation{ 
        flex-direction: column;
    }
}

/* --------------------- FOR DESKTOP -----------------------*/

@media screen and (min-width: 1200px){

    .foter__list{
        display: flex;
        flex-wrap: nowrap;
        gap: 70px;

        text-align: left;

        & .foter__item{
            flex-basis: content;
            margin: 0px;
        }
    }
    
    .foter__list--collocation{
        gap: 9px;

        & .foter__item--collocation{
            margin-bottom: 0px;
        }
    }
}