/* ----------------- PRIMARY - FOR SMARTPHONE ----------------- */

    .heading{
        margin: 0px;
    
        box-sizing: border-box; 
    
        padding: 118px 0px;
    
        background-image: linear-gradient(
    
                        0deg,
                        rgba(47,48,58,0.4)0%,
                        rgba(47,48,58,0.4)100%),
                        url('../images/HeaderImgMobile.jpg');
        background-repeat: no-repeat;
        background-size: 480px auto;
        background-position: center;

        @media (min-device-pixel-ratio: 2),     // Responsive background
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2ddpx){
            background-image: linear-gradient(
    
                        0deg,
                        rgba(47,48,58,0.4)0%,
                        rgba(47,48,58,0.4)100%),
                        url('../images/HeaderImgMobile@2x.jpg');
         }
    }
    
    .heading-overlay{
        background-color: $mainBgColor;
    }
    
    .heading__title{
        margin: 0px;
        padding-bottom: 30px;
    
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
    
        text-align: center;
        letter-spacing: 0.06em; 
    
        color: $fourthColor;
    }

/* --------------------- FOR TABLET --------------------- */

@media screen and (min-width: 768px){
    .heading{
        margin: 0px;

        box-sizing: border-box; 

        padding: 118px 0px;

        background-image: linear-gradient(

                        0deg,
                        rgba(47,48,58,0.4)0%,
                        rgba(47,48,58,0.4)100%),
                        url('../images/HeaderImgTablet.jpg');
        background-repeat: no-repeat;
        background-size: 780px auto;
        background-position: center;

        @media (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2ddpx){
            background-image: linear-gradient(

                        0deg,
                        rgba(47,48,58,0.4)0%,
                        rgba(47,48,58,0.4)100%),
                        url('../images/HeaderImgTablet@2x.jpg');
        }
    }

    .heading-overlay{
        background-color: $mainBgColor;
    }

    .heading__title{
        margin: 0px;
        padding-bottom: 30px;

        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;

        text-align: center;
        letter-spacing: 0.06em; 

        color: $fourthColor;
    }
}

/* --------------------- FOR DESKTOP --------------------- */

@media screen and (min-width: 1200px){
    .heading{
        margin: 0px;

        box-sizing: border-box; 

        padding: 200px 0px;

        background-image: linear-gradient(

                        0deg,
                        rgba(47,48,58,0.4)0%,
                        rgba(47,48,58,0.4)100%),
                        url('../images/imgNew.jpg');
        background-repeat: no-repeat;
        background-size: 1600px auto;
        background-position: center;

        @media (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2ddpx){
            background-image: linear-gradient(

                        0deg,
                        rgba(47,48,58,0.4)0%,
                        rgba(47,48,58,0.4)100%),
                        url('../images/ImgNew@2x.jpg');
        }
    }

    .heading-overlay{
        background-color: $mainBgColor;
    }

    .heading__title{
        margin: 0px;
        padding-bottom: 30px;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.364;

        text-align: center;
        letter-spacing: 0.06em; 

        color: $fourthColor;
    }
}
