/* -----------------PRIMARY - FOR SMARTPHONE -------------------*/

.our-strengths__list{      

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;

    color: $secondaryColor;

    &--distance{
        padding-top: 60px;
    }

    & .our-strengths__item{

        & .our-strengths__icon{   /* svg */

            width: 100%;
            margin: 0 auto;
    
            margin-bottom: 30px;
    
            background-color: var(--bg-color);
            border-radius: 4px;

            & .icon-position{
                transform: translate(44%, 25%);
            }
        }

        & .our-strengths__header{
            font-size: 14px;
            line-height: 1.143;
        }
    
        & .our-strengths__paragraph{ /* paragraph */
            font-weight: 400;
            font-size: 14px;
            line-height: 1.714;
    
            letter-spacing: 0.03em;
    
            color: $thirdColor;
        }
    }
}

/* --------------------- FOR TABLET -----------------------*/

@media screen and (min-width: 768px){
    .our-strengths__list{           
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;

        & .our-strengths__item{

            flex-basis: calc((100% - 30px) / 2);

            // & .our-strengths__icon{   /* svg */

            //     & .icon-position{

            //         transform: translate(144.34px, 25px);
            //     }
            // }

            & .our-strengths__header{

                text-align: left;
            }
        }
    }
}

/* --------------------- FOR DESKTOP -----------------------*/

/* *************SECTION NO.1 - OUR STRENGTHS ************ */

@media screen and (min-width: 1200px){
    .our-strengths__list{           
        display: flex;
        flex-wrap: nowrap;
        align-items:center;
        gap: 30px;

        &--distance{
            padding-top: 94px;
        }

        // & .our-strengths__item{

        //     // & .our-strengths__icon{   /* svg */

        //     //     //width: 270px;

        //     //     // & .icon-position{

        //     //     //     transform: translate(102.34px, 25px);
        //     //     // }
        //     // }
        // }
    }
}
/* ********* END SECTION NO.1 - OUR STRENGTHS ************ */