/* -----------------PRIMARY - FOR SMARTPHONE -------------------*/

.foter__form{
    
    padding-top: 60px;

    & .foter__field-email{
        margin-top: 20px;
        width: 100%;
        padding: 15px 0px;
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
    
        letter-spacing: 0.03em;
    
        color: $foterContactColor;
    
        background-color: $mainBgColor;
    
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
    }

    & .foter__btn{
        margin-top: 20px;

        padding: 10px 13px 10px 42px;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
    
        letter-spacing: 0.06em;
    
        color: $fourthColor;
        background-color: $mainColor;
    
        border: 0px;
        border-radius: 4px;
    
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
        cursor: pointer;
        opacity: 0.5;
    
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    }
}

.foter__form-icon {
    width: 24px;
    height: 24px;

    // margin-left: 24px;

    fill: $fourthColor;
}


/* --------------------- FOR TABLET -----------------------*/

@media screen and (min-width: 768px){
    
    .foter__item--collocation{
        margin: 0 auto;
    }

    .foter__field-email{
        padding: 15px 20px 15px 16px;
    }
}
    
    /* --------------------- FOR DESKTOP -----------------------*/

@media screen and (min-width: 1200px){

    .foter__item--collocation{
        margin: 0px;
    }

    .foter__form{
        display: flex;
        justify-content: center;
        
        padding-top: 12px;
        position: relative;

        & .foter__field-email{
            padding-left: 15px;
            position: absolute;
            top: 20px;
        }

        & .foter__btn{
            position: relative;
            left: 202px;
            top: 7px;
        }
    }
}