/* -----------------PRIMARY - FOR SMARTPHONE -------------------*/

.foter__form{
    padding-top: 60px;

    & .foter__field-email{
        margin-top: 20px;
        padding: 15px 249.6px 15px 16px;
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
    
        letter-spacing: 0.03em;
    
        color: $foterContactColor;
    
        background-color: $mainBgColor;
    
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
    }

    & .foter__btn{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    
        margin-top: 20px;
        margin-left: 140px;
        padding: 10px 13px 10px 42px;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
    
        letter-spacing: 0.06em;
    
        color: $fourthColor;
        background-color: $mainColor;
    
        border: 0px;
        border-radius: 4px;
    
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
        cursor: pointer;
        opacity: 0.5;
    
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    }
}

.foter__form-icon {
    width: 24px;
    height: 24px;

    margin-left: 24px;

    fill: $fourthColor;
}

/* --------------------- FOR TABLET -----------------------*/

@media screen and (min-width: 768px){
    .foter__form{
        padding-left: 151px;
}
}
    
    /* --------------------- FOR DESKTOP -----------------------*/

@media screen and (min-width: 1200px){
    .foter__form{
        padding-top: 12px;
        padding-left: 0px;

        & .foter__field-email{
            padding: 15px 157.6px 15px 16px;
        }
    }

    .foter__form--collocation{
        display: flex;
       flex-direction: column;
    }
}