/* ----------------- PRIMARY - FOR SMARTPHONE --------------- */

.modal-menu{

    position: fixed;

    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;

    background-color: $fourthColor;

    transform: translateY(0);       /* transformation */
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;

        padding-left: 40px;
        padding-top: 48px;

        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;

        &--position{
            padding-top: 302px;
            
        }

        &--social{
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px;
            
            padding-top: 64px;
            padding-bottom: 48px;
        }
    }

    &__btn{
        position: absolute;
        right: 11px;
        top: 11px;

        width: 40px;
        height: 40px;

        border: none;
        background-color: $fourthColor;
    }

    &__icon{
        width: 18.67px;
        height: 18.67px;
    }
}

.modal-menu__item{
    
    &--border{
        font-size: 18px;

        &:not(:first-child){

            padding-left: 10px;
            border-left: 1px solid rgba(33, 33, 33, 0.2);
        }
    }
}

.modal-menu__link{

    text-decoration: none;
    color: $secondaryColor;

    &:hover,
    &:focus{
        color: $mainColor;

        &.modal-menu__icon{
            fill: $mainColor;
        }
    }

    &--telephone{
        font-size: 34px;
        line-height: 1.176;
        color: $thirdColor;

        &:hover,
        &:focus{
            color: $mainColor;
        }
    }

    &--email{
        font-size: 24px;
        line-height: 1.166;
        color: $thirdColor;

        &:hover,
        &:focus{
            color: $mainColor;
        }
    }

    &--decoration{
        font-size: 18px;
        line-height: 1.222;
        color: $mainColor;
    }
}
