            /* auxiliary class  */

/* ----------------- PRIMARY - FOR SMARTPHONE ----------------- */

  .container{
    max-width: 450px;
    
    margin: 0 auto;
  }

/* --------------------- FOR TABLET --------------------- */

@media screen and (min-width: 768px){
  .container{
    max-width: 738px;

    margin: 0 auto;
  }
}

/* --------------------- FOR DESKTOP --------------------- */

@media screen and (min-width: 1200px){
  .container{
    max-width: 1200px;
            
    margin: 0 auto; 
  }
}

