            /* auxiliary class  */

/* ----------------- PRIMARY - FOR SMARTPHONE ----------------- */

.container{
  max-width: 450px;
  
  margin: 0 auto;
}

/* --------------------- FOR DESKTOP --------------------- */

.container{
  max-width: 1200px;
            
  margin: 0 auto; 
}

