/* -----------------PRIMARY - FOR SMARTPHONE -------------------*/

.ssection{

    box-sizing: border-box;

    padding-top: 60px;
    padding-bottom: 60px;
}

/* --------------------- FOR DESKTOP -----------------------*/

@media screen and (min-width: 1200px){
    .ssection{

        box-sizing: border-box;

        padding-top: 94px;
        padding-bottom: 94px;
    }
}